.Home {
  text-align: center;
}

.Home-logo {
  animation: Home-logo-spin infinite 20s linear;
  height: 80px;
}

.container {
  width: 100%;
  max-width: 1024px;
  margin: auto;
}

.f {
  display: flex;
}

.f-btw {
  justify-content: space-between;
}

.f-ev {
  justify-content: space-evenly;
}

.f-ctr {
  align-items: center;
}